body, html {
    margin: 0;           
    height: 100%;      
}

.c {
    display: flex;           
    flex-direction: column;   
    align-items: center;       
    justify-content: center;
    height: 100vh;
    background-color: #f7fafc;
}

.container {
    border: 2px solid #090c0f;
    border-radius: 8px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.task-button {
    display: inline-flex;
    align-items: center;
    margin-left: 8px; 
}
  
.icon-complete,
.icon-delete {
    width: 24px;
    height: 24px;
}

.task {
    margin-top: 10px;
}

.taskcon{
    margin-top: 10px;
}
